/* ------------------------------------------------------------------------- */
/*                       Règles générales pour la page                       */
/* ------------------------------------------------------------------------- */

body{
	counter-reset: num_exo ;							/* mise à zéro du compteur num_exo */
    counter-reset: num_cours ;							/* mise à zéro du compteur num_cours */
    counter-reset: num_partie ;							/* mise à zéro du compteur num_cours */
	}


    
/* ------------------------------------------------------------------------- */
/*                     Cours                                             */
/* ------------------------------------------------------------------------- */

h2:nth-child(1n+1){
	counter-increment : num_partie;						/* mise à jour du compteur de points cours */
	}
    
h2:before{
	content : counter(num_partie)' - ';		/* mise en forme du compteur num_partie */   
	}
    
    


/* ------------------------------------------------------------------------- */
/*                                Les images                                 */
/* ------------------------------------------------------------------------- */
img.img_centre {
	display: block;
	border: 1px dashed #17A2B8;
	margin: 5px auto;
	border-radius: 6px;
	padding: 5px;
	max-width: 85%;
	text-align: center;
	}
	
    
p img.logo,
li img.logo,
h2 img.logo {									/* images dans les paragraphes, dans les listes */
	display: inline;
	max-height: 40px;
	margin: 5px;
	padding: 0;
	vertical-align: middle;
	border: 0;
	border-radius: 4px;
	}
	
td img {									/* images dans les paragraphes, dans les listes */
	display: inline;
	max-height: 150px;
	margin: 5px;
	vertical-align: middle;
	border: 0;
	border-radius: 0;
	}

img.img_flotte {							/* Image flottante à côté d'un paragraphe */
	float: right;
	max-width: 250px;
	margin: 5px 5px 5px 30px;
	padding: 5px;
	border: 1px dashed #17A2B8;
	border-radius: 6px;
	}
    
    
iframe {
	display: block;
	border: 1px dashed #17A2B8;
	margin: 5px auto;
	border-radius: 6px;
	padding: 5px;
}



/* ------------------------------------------------------------------------- */
/*         Ligne horizontal                                                  */
/* ------------------------------------------------------------------------- */

hr{
    border-width: 3px;
    color : #17A2B8;
}


/* ------------------------------------------------------------------------- */
/*         Citation                                                          */
/* ------------------------------------------------------------------------- */

blockquote.definition {
    font-style : italic;
    margin-left : 10%;
    border-left : 2px solid black;
    border-bottom : 2px solid black;
    padding : 5px;
}

blockquote.definition::before {
    content : "Définition : ";
    font-weight : bold;
    font-style : normal;
}
