body{
    counter-reset: num_partie ;							/* mise à zéro du compteur num_partie*/
	}



h2:nth-child(1n+1){
	counter-increment : num_partie;						/* mise à jour du compteur de parties */
	}
    
h2:before{
	content : counter(num_partie)' - ';		/* mise en forme du compteur num_partie */   
	}
    
    

img {
	display: block;
	border: 1px dashed #17A2B8;
	margin: 5px auto;
	border-radius: 6px;
	padding: 5px;
	max-width: 85%;
	text-align: center;
	}
	
    

    
    
iframe {
	display: block;
	border: 1px dashed #17A2B8;
	margin: 5px auto;
	border-radius: 6px;
	padding: 5px;
}

