[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Linux progresse et Windows recule sur le marché des ordinateurs de bureau ! - GinjFo
Type=Link
URL=https://www.ginjfo.com/actualites/logiciels/linux/linux-progresse-sur-le-marche-des-ordinateurs-de-bureau-20200603
Icon=text-html
Name[fr_FR]=Linux progresse et Windows recule sur les PC !
