[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Linux continue sa croissance et passe à 3,61% de part sur le marché des OS desktop d'après NetMarketShare, sa plus haute part de marché jamais atteinte sur ce baromètre
Type=Link
URL=https://linux.developpez.com/actu/306993/Linux-continue-sa-croissance-et-passe-a-3-61-pourcent-de-part-sur-le-marche-des-OS-desktop-d-apres-NetMarketShare-sa-plus-haute-part-de-marche-jamais-atteinte-sur-ce-barometre/
Icon=text-html
Name[fr_FR]=Linux passe à 3,61% de part sur le marché des OS desktop
