 <!DOCTYPE html>

<html lang="fr">

<!-- Début en-tête -->
<head>

  <title>{{ page.title }} </title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
         <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
         <style>
          /* Make the image fully responsive */
          .carousel-inner img {
              width: 100%;
              height: 100%;
            }
        </style>
    <!-- jQuery library -->
    <script src="lib/jquery.min.js"></script>

    <!-- Popper JS -->
<script src="lib/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    
<script src="lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"> </script> 

    <!-- Code Mirror coloration syntaxique du code -->
    <link rel="stylesheet" href="../lib/codemirror-5.47.0/lib/codemirror.css">
    <script src="lib/codemirror-5.47.0/lib/codemirror.js"></script>  
    <script src="lib/codemirror-5.47.0/mode/python/python.js"></script>
	<script src="lib/codemirror-5.47.0/mode/xml/xml.js"></script>
	<script src="lib/codemirror-5.47.0/mode/javascript/javascript.js"></script>
	<script src="lib/codemirror-5.47.0/mode/css/css.js"></script>
	<script src="lib/codemirror-5.47.0/mode/htmlmixed/htmlmixed.js"></script>
	<script src="lib/codemirror-5.47.0/addon/edit/matchbrackets.js"></script>


    
 
    
    <!-- Prism theme coy -->
      <link rel="stylesheet"  href="css/prism.css" />  
      <script src="lib/prism.js"></script>

     <!-- Style NSI -->
    <link rel="stylesheet"  href="css/style_nsi.css" />  
    
</head>
<!-- Fin en-tête -->

<!-- Début corps -->    
<body class="bg-light">

    
    
<div class="container-fluid">
    
    <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
        
  <a class="navbar-brand" href="https://lyceeduparc.fr/">
          <img src="images/logo-parc.png" alt="Logo" style="width:80px;">
    </a>
        
        
     <!-- Navbar text-->
  <span class="navbar-text">
    Première NSI 2020/2021
  </span>
        
        

</nav>
    
    
    <div class="jumbotron" style="margin-top:10%;">
  <h1>Accueil et progression</h1>
                      
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="{{page.progression}}">Progression</a></li>
    <li class="page-item"><a class="page-link" href="{{page.outils}}">Outils</a></li>
    <li class="page-item"><a class="page-link" href="{{page.ressources}}">Ressources</a></li>
    <li class="page-item"><a class="page-link" href="{{page.qcm}}">QCM</a></li>
  </ul>
    
</div>
    
     
   <h1>Crédits</h1>    
        
    <article>
        
         <p>Une partie de la structure css/js a été réalisée par Nicolas Buyle-Bodin professeur au lycée Lacassagne,
          avec l'aide de Jean-Manuel Mény, professeur au lycée de la plaine de l'Ain. 
          Ils ont travaillé  pendant plusieurs centaines d'heures
           pour créer un site  de formation à destination des enseignants du secondaire de l'académie de Lyon 
           d'une grande qualité visible sur  
           <a href="http://maths.enseigne.ac-lyon.fr/spip/docs_lyon/supports_formations/2017_Python_2nde/formation_upo_python_2nde/accueil_python_2nde.html">
           le portail Mathématiques du site académique.</a> 
            Ils ont eu la gentillesse de placer leur code source sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/fr/"> Creative Commons BY-NC-SA Respect de la Paternité - Pas d'utilisation commerciale - Partage des conditions initiales à l'identique.</a>.
            </p>
        <p> Nous les en remercions chaleureusement. </p>
        <p>Ce document est placé de même sous licence <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/fr/"> 
        Creative Commons BY-NC-SA Respect de la Paternité - Pas d'utilisation commerciale - 
        Partage des conditions initiales à l'identique.</a>.
            </p>
            
        </article>
  
  <section>  
   {{ content }}
   
   </section>

<!-- Fin de la balise container bootstrap -->
  </div>


</body>
</html> 
