<!DOCTYPE html>

<html lang="fr">

<!-- Début en-tête -->
<head>

  <title>{{ page.title }} </title>

  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap -->
<!-- Bootstrap -->
         <!-- Latest compiled and minified CSS -->
         <link rel="stylesheet" href="lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
         <style>
          /* Make the image fully responsive */
          .carousel-inner img {
              width: 100%;
              height: 100%;
            }
        </style>
    <!-- jQuery library -->
    <script src="lib/jquery.min.js"></script>

    <!-- Popper JS -->
<script src="lib/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    
<script src="lib/bootstrap-4.3.1-dist/js/bootstrap.min.js"> </script> 



    <!-- Code Mirror coloration syntaxique du code -->
    <link rel="stylesheet" href="lib/codemirror-5.47.0/lib/codemirror.css">
    <script src="lib/codemirror-5.47.0/lib/codemirror.js"></script>  
    <script src="lib/codemirror-5.47.0/mode/python/python.js"></script>
	<script src="lib/codemirror-5.47.0/mode/xml/xml.js"></script>
	<script src="lib/codemirror-5.47.0/mode/javascript/javascript.js"></script>
	<script src="lib/codemirror-5.47.0/mode/css/css.js"></script>
	<script src="lib/codemirror-5.47.0/mode/htmlmixed/htmlmixed.js"></script>
	<script src="lib/codemirror-5.47.0/addon/edit/matchbrackets.js"></script>


    
 
    
      <!-- Prism theme coy -->
      <link rel="stylesheet"  href="css/prism.css" />  
      <script src="lib/prism.js"></script>

    

    <!-- Style NSI  -->
    <link rel="stylesheet" href="css/style_nsi.css">

</head>
<!-- Fin en-tête -->

<!-- Début corps -->    
<body class="bg-light">

    
    
<div class="container-fluid">
    
    <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
        
  <a class="navbar-brand" href="https://lyceeduparc.fr/">
          <img src="images/logo-parc.png" alt="Logo" style="width:80px;">
    </a>
        
        
     <!-- Navbar text-->
  <span class="navbar-text">
    Première NSI 2020/2021
  </span>
        
        

</nav>
    


    <div class="jumbotron" style="margin-top:10%;">
      <h1>{{ page.title }} </h1>
                      
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="https://parc-nsi.github.io/premiere-nsi/index.html">Progression</a></li>
    <li class="page-item"><a   class="page-link"  href="https://parc-nsi.github.io/premiere-nsi/outils.html">Outils</a></li>
    <li class="page-item"><a  class="page-link"  href="https://parc-nsi.github.io/premiere-nsi/ressources.html">Ressources</a></li>
    <li class="page-item"><a  class="page-link"  href="https://parc-nsi.github.io/premiere-nsi/qcm.html">QCM</a></li>
    <li class="page-item"><a  class="page-link"  href="https://github.com/parc-nsi/premiere-nsi">Github</a></li>
  </ul>
    
</div>
    
     
   <h2>Crédits</h2>    
        
    <article>
      <p>Bienvenue sur le site des Première NSI du lycée du Parc à Lyon.</p>
        <p>Ce document est placé de même sous licence <a href="https://github.com/frederic-junier/ISN/blob/master/LICENSE"> 
          Creative Commons Attribution Share Alike 4.0 International.</a>
            </p>
            
        </article>
  

   


  <section>  
   {{ content }}
   
   </section>
  
   <hr>
   
   <footer>
    <p>Binder Jupyter Notebook du site : 
      <a href="https://mybinder.org/v2/gh/parc-nsi/premiere-nsi/master"> 
        <img src="https://mybinder.org/badge_logo.svg" alt="Binder"> </a>
        </p>
    <p>
    <a href="https://parc-nsi.github.io/premiere-nsi/index.html">Retour à la page d'accueil</a></footer>
    </p>


<!-- Fin de la balise container bootstrap -->
  </div>



</body>
</html> 
